flask==3.0.2
flask-migrate
flask-sqlalchemy==3.1.1
flask-alembic
ipython
psycopg2==2.9.9
#pyasic>=0.54.16
# Newer versions of pyasic don't seem to work correctly for privileged commands
pyasic==0.39.3
pydantic
pytest
pytz
ruff
sqlalchemy==2.0.28
structlog
